{
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "plugins": ["babel"],
  "env": {
    "node": true,
    "es6": true
  },
  "globals": {
    "describe": false,
    "it": false,
    "assert": false,
    "before": false,
    "beforeEach": false,
    "after": false,
    "afterEach": false
  }
}
